android
ios

node_modules

app/assets
app/components/styled-components/ThemedComps.js
app/i18n/translations

.buckconfig
.eslintrc.js
.flowconfig
.gitattributes
.gitignore
.prettierignore
.prettierrc
.watchmanconfig
.babelrc
.env

app.json
babel.config.js
metro.config.js

package.json
package-lock.json
yarn.lock